/* rem and em do not depend on html font-size in 
media queries 

Instead 1rem = 1em = 16px
*/

/* How to calculate break point-  screen size for media queries-
Example: 1344/16 = 84em(use emb)  for smaller desktops*/

/************************* 
MEDIA QUERIES SECTION HERO 
****************************/
@media (max-width: 84em) {
  .hero {
    max-width: 100rem;
  }

  .heading-primary {
    font-size: 1.5rem;
  }

  /* .gallery {
    grid-template-columns: repeat(2, 1fr);
  } */
}

/* BELOW 1200px landscape tablets */

@media (max-width: 75em) {
  .heading-secondary {
    font-size: 1.2rem;
  }
  .heading-tertiary {
    font-size: 1rem;
  }
  .header {
    padding: 0.25rem;
  }
  .hero {
    gap: 3rem;
  }
  .main-nav-list {
    gap: 1rem;
  }
}

/* BELOW 940/16 = 59 Tablets at break point */

@media (max-width: 59em) {
  .hero {
    grid-template-columns: 1fr;
    /* padding: 0 1.2rem; */
  }
  .hero-img {
    width: 50%;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 1rem;
  }
  .logos img {
    height: 0.5rem;
  }
  .step-number {
    font-size: 2.4rem;
  }
  .meal-content {
    padding: 0.5 rem 1rem 1rem 1rem;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 1.2rem;
  }
  /* .cta-text {
    font-size: 0.8rem;
    font-weight: 600;
  } */
  .btn-mobile-nav {
    display: block;
  }

  /* make the main nav to be in absolute position 
  to take over the screen for
   mobile responsiveness */

  .main-nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    position: absolute;

    /* 1. hides the element visually */
    opacity: 0;

    /* 2. make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3. hide from screen readers */
    visibility: hidden;
    transition: all 0.5s;
  }

  /* Hide the navigation
  allow no transition at all */

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 3rem;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

/* DISPLAY MOBILE NAVIGATION MENU */

/* BELOW 704px smaller tablets */

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .pricing-plan {
    width: 100%;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 2.2rem;
  }
}
