* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ORIGIN 

--Line heights
default 1


--COLORS
-Primary #e67e22
Tints #fdf2e9
shades #cf711f
Accents #
Greys
z-index #f8d8bd  #f0b27a
-Font Weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700


-Border-radius
Default:  9px

-Line Heights
Default: 1
Small: 1.05
Paragraph default: 1.6

-Letter spacing
-0.5px
0.75px





*/

/* TOOLS

Tint and Shades Generator - maketintshades.com
yeun.github.io/open-color
coolors.io
freelogo design.org

Favicon.io
Generate Text from favicon.io


*/

/* font size: 10px */
/* 10px / 16px / = 0.625 = 62.5% */
/* Percentage of users browser font-size setting */
/* font-size: 62.5%; */

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
/* html {
  font-size: 62.5%;
} */
/* Navigation/header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.03);

  /*make the header sticky*/
  height: 5.4rem;
  padding: 1rem;

  /* whenever a child position an element to absolute 
  it has to be positioned to relative in the parents element */
  position: relative;
}

/* menu button icon */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 2.8rem;
  width: 2.8rem;
  color: #333;
}

/* select the close icon attribute 
to hide the icon */

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* .logo {
  border-radius: 50%;
} */

/* sticky position for the navigation bar */
/* 'add z-index to help the navigation scroll'*/

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
.header-logo {
  align-items: center;
  margin-top: 3rem;
}
/* Navigation Link */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.nav-cta:link,
.nav-cta:visited {
  padding: 0.5rem 1.1rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}

/***************
Hero section 
*****************/

.section-hero {
  /* background-color: #fae5d3; */
  /* background-color: #f5cba7; */
  background-image: linear-gradient(to right bottom, #f7c395, #f58d32);
  padding: 4.6rem 2rem;
}

.hero {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* display: flex;
  flex-direction: row; */
  gap: 5.5rem;
  align-items: center;
}

/******* Test styling - Reusable
heading-primary/ 
heading-secondary
subheading 
************************/

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #45260a;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1;
}

.heading-primary {
  font-size: 4.5rem;
  margin-bottom: 2.8rem;
}

.heading-secondary {
  font-size: 2.2rem;
  margin-bottom: 3.6rem;
}

.heading-tertiary {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 2.2rem;
}

.subheading {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/* Hero description */

.hero-desc {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

/* ALL BUTTONS */

/* to design button for the link use btn with pseudo element because
this is not just a normal button */

/* the original state before any hover */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1rem;
  padding: 1.1rem 1.2rem;
  border-radius: 9px;

  /*only for btn*/
  border: none;
  cursor: pointer;

  /* add the transition property to animate 
  the button effect */
  transition: all 0.3s;
}

/* btn specificity and hover */

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #b8651b;
}

/* use a helper class to set the margin to right */
.margin-right {
  margin-right: 1.5rem;
}

/* btn--outline */

.btn--outline:link,
.btn--outline:visited {
  background-color: #fdf2e9;
  border: 2px solid #fff;
  color: #555;
}

/* added box shadow on the button to give it an effect */
/* add the transition property to the original button state */
.btn--outline:hover,
.btn--outline:active {
  background-color: #ffffff;
  box-shadow: insert 0 0 0 3px;
}

/* button cta*/
.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}
/* img */
.hero-img {
  width: 100%;
  /* height: 100%; */
}

/* Customer delivery images */
.img-size {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: -0.7rem;
  border: 3px solid #fdf2e9;
}

.delivered-meals {
  display: flex;
  margin-top: 3rem;
  align-items: center;
}

.delivered-img {
  display: flex;
  margin-right: 2rem;
  /* gap: 2rem; */
  /* margin-right: 0.8rem; */
}

/* .delivered-imgs img {
  height: 4.4rem;
  border-radius: 50%;
} */

.delivered-text {
  margin-right: 3rem;
  font-size: 1.2rem;
  font-weight: 500;
}

/* span */

.delivered-text span {
  color: #e67e22;
}

/***************************** 
Reusable Components section
 SECTION HOW IT WORKS- FOOD IMAGE with Z-INDEX OVERLAY
+****************************/
.section-how {
  padding: 4.6rem 2rem;
  background-color: #fdf2e9;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 0.4rem;
  column-gap: 1rem;
  row-gap: 2rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--center-v {
  align-items: center;
}
/* How it works */

.step-number {
  font-size: 4.8rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1rem;
  line-height: 1.8;
}
.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/****************************/
/* LOG FEATURE SECTIONS */
/*****************************/

.section-featured {
  padding: 4rem 0;
}

.heading-featured-in {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.4rem;
  color: #888;
}

.logos {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
}

/****selecting the logos using the descendant selector*/
/**using filter property to make images grey */

.logos img {
  height: 1.5rem;
  filter: brightness(0);
  opacity: 50%;
}

/********************
IMAGE SECTIONS
*********************/
.step-img {
  width: 45%;
  /* height: 80%; */
}

/* Z-INDEX */

.container-index {
  /* background-position: top center; */
  position: relative;
  z-index: 1;
}

.container-index::before,
.container-index::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /* width: 60%;
  background-color: #f8d8bd; */
  /* opacity: 0.3; */
  /* z-index: -2; */
  /* padding-bottom: 20%; */
}
/* The top z-index using before pseudo element */
.container-index::before {
  width: 70%;
  background-color: #f8d8bd;
  padding-bottom: 20%;
  z-index: -2;
}

/* the under z- index using after pseudo element*/
.container-index::after {
  width: 60%;
  padding-bottom: 15%;
  /* background-color: #38657c; */
  /* opacity: 5; */
  background-color: #9cb2be;
  z-index: -2;
}

/*****************
SECTION MEAL
******************/

.section-meal {
  padding: 4.6rem 2rem;
}

.center-text {
  text-align: center;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/********************* 
put the meal section on box shadow
************************/

.meal {
  box-shadow: 0 2.4rem 2.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.4rem 4.8rem rgba(2, 1, 0, 0.06);
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 1.2rem 2rem 2rem 2rem;
}

.tag {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  background-color: #51cf66;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 500;
}

.meal-title {
  font-size: 1rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.meal-attribute {
  font-size: 1rem;
  color: #333;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.meal-icon {
  height: 1rem;
  width: 1rem;
  color: #e67e22;
}

/**********
Style Strong

***********/
.strong {
  font-weight: 500;
}

/* SECOND MEAL CARD  */

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

/********
Style ALL RECIPES
*********/
/* add a margin bottom 
to make a space */

.margin-bottom-md {
  margin-bottom: 2rem;
}

.all-recipes {
  text-align: center;
  font-size: 2rem;
}

.link:link,
.link:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
}

.link:hover,
.link:active {
  color: #e67e22;
  /* border: none !important; */
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

/************************************** 
SECTION TESTIMONIALS USED2 GRID DIMENSIONS
************************** */

.section-testimonials {
  padding: 3rem 4rem;
  background-color: #fdf2e9;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.8rem;
  align-items: center;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
}

.testimonial-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
}

/* got the color from the contrast checker*/
.testimonial-name {
  font-size: 0.8rem;
  color: #6f6f6f;
}

.span-text {
  color: #e67e22;
}

/********** 
GALLERY SECTION 
***************/

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 1rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

/* create image hover, 
used transform property, rotate 45degrees
*/

.gallery-item img:hover {
  transform: scale(1.1);
  /* transform: rotate(45deg); */
}

.gallery-item {
  overflow: hidden;
}

/***********************
SECTION PRICING
******************* */
.section-pricing {
  padding: 4.6rem 2rem;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.list-item {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  line-height: 1.4;
}

.list-icon {
  width: 2rem;
  height: 2rem;
  color: #e67322;
}

/************
 PRICING PLAN 
 ****************/

.pricing-plan {
  padding: 2.5rem;
  width: 100%;
  border-radius: 2rem;
  border: 2px solid #fdf2e9;
}

.pricing-plan--star {
  justify-self: end;
  /* border: 2px solid #fdf2e9; */
}

.pricing-plan-complete {
  background-color: #f7d6b9;
  position: relative;
  overflow: hidden;
}

.pricing-plan-complete::after {
  content: "Best Value";
  position: absolute;
  top: 2%;
  right: -8%;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  color: #777;
  background-color: #ffd43b;
  padding: 0.5rem 2rem;
  transform: rotate(37deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.plan-name {
  color: #cf711f;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 1.5rem;
}

.plan-price {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

.plan-text {
  font-size: 0.8rem;
  line-height: 1.8;
}

/* BUTTON  */

.plan-sign-up {
  text-align: center;
  margin-top: 2rem;
}

/********************** 
FEATURE SECTION 4 GRID ICONS
************************/

.grid--4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.feature-icon {
  color: #f78b2d;
  height: 2rem;
  width: 2rem;
  margin-bottom: 2rem;
  background-color: #f2dbcc;
  padding: 0.5rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 1.2rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1rem;
  line-height: 1.5;
}

/**************  
CTA SECTION  
***************/

.section-cta {
  padding: 2.1rem 2rem 8rem 2rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #f89238, #f37f19);
  /* 
  let the content now dictate the height and
  not have it fixed
  height: 30rem;
  */
  overflow: hidden;
}

.cta-text-box {
  padding: 4rem 4rem 4rem 4rem;
  color: #45260a;
}

.cta .heading-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 2.2rem;
}

.cta-text {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.cta-img-box {
  /* background-image: linear-gradient(
      to right bottom,
      rgba(235, 170, 78, 0.35),
      rgba(234, 188, 195, 0.35)
    ), */

  background-image: url("https://images.unsplash.com/photo-1535473895227-bdecb20fb157?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.2rem;
  row-gap: 1.4rem;
}

.cta-form label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1rem;
  font-size: 0.9rem;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0, 0, 0, 0.8rem rgba(253, 242, 233, 0.5);
}

/**************** 
FOOTER SECTION
 *****************/

.footer {
  padding: 8rem 2rem;
  border-top: 1px solid #eee;
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.food-logo {
  color: #e67322;
}

.footer-logo {
  display: block;
  margin-bottom: 3rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

/* social links */
.social-links {
  list-style: none;
  display: flex;
  gap: 1.4rem;
}

/* style the social icons to be bigger  */

.social-icon {
  height: 1.4rem;
  width: 1.4rem;
  margin-bottom: 1rem;
}

/* Style copyright and contact text */

.contacts,
.copyright {
  line-height: 1.6rem;
}

.address {
  margin-bottom: 1.5rem;
}

/* footer heading and footer links */
.footer-heading {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

/* style the nav with flex-direction to make them 
appear side by side to eachother */

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contacts,
.copyright,
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 0.8rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
