* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ORIGIN 

--Line heights
default 1


--COLORS
-Primary #e67e22
Tints #fdf2e9
shades #cf711f
Accents #
Greys

-Font Weights
Default: 400
Medium: 500
Semi-bold: 600


-Border-radius
Default:  9px






*/

/* TOOLS

Tint and Shades Generator - maketintshades.com



*/

body {
  font-family: "Rubik", sans-serif;

  line-height: 1;
  font-weight: 400;
  color: #555;
}
/* html {
  font-size: 62.5%;
} */
/* Navigation/header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /*make the header sticky*/
  height: 5.4rem;
  padding: 0 3.5rem;
}

.logo {
  border-radius: 50%;
}

/* Navigation Link */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.nav-cta:link,
.nav-cta:visited {
  padding: 0.5rem 1.1rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}

/* Hero section */

.section-hero {
  background-color: #fae5d3;
  padding: 4.6rem 2rem;
}

.hero {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5.5rem;
  align-items: center;
}

.heading-primary {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.02;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 2.8rem;
}

.hero-desc {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

/* btn */

/* to design button for the link use btn with pseudo element because
this is not just a normal button */

/* the original state before any hover */

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1rem;
  padding: 1.1rem 1.2rem;
  border-radius: 9px;
  /* add the transition property to animate the button effect */
  transition: background-color 0.3s;
}

/* btn specificity and hover */

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #b8651b;
}

/* use a helper class to set the margin to right */
.margin-right {
  margin-right: 1.5rem;
}

/* btn--outline */

.btn--outline:link,
.btn--outline:visited {
  background-color: #fdf2e9;
  border: 2px solid #fff;
  color: #555;
}

/* added box shadow on the button to give it an effect */
/* add the transition property to the original button state */
.btn--outline:hover,
.btn--outline:active {
  background-color: #ffffff;
  box-shadow: insert 0 0 0 3px;
}

/* img */
.hero-img {
  width: 100%;
  /* height: 100%; */
}

/* Customer delivery images */
.img-size {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: -0.7rem;
  border: 3px solid #fdf2e9;
}

.delivered-meals {
  display: flex;
  margin-top: 3rem;
  align-items: center;
}

.delivered-imgs {
  display: flex;
  margin-right: 2rem;
  /* gap: 2rem; */
  /* margin-right: 0.8rem; */
}

/* .delivered-imgs img {
  height: 4.4rem;
  border-radius: 50%;
} */

.delivered-text {
  margin-right: 3rem;
  font-size: 1.2rem;
  font-weight: 500;
}

/* span */

.delivered-text span {
  color: #e67e22;
}
